<%- include('header')%>

    <body>
        <div class="container-scroller">
            <%- include('navbar')%>

                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_sidebar.html -->
                    <%- include('sidebar')%>

                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Change Password</h4>
                                            <p class="card-description">Enter New Password</p>
                                            <form class="forms-sample" action="/passwordupdate" method="post" >
                                                <div class="form-group">
                                                    <label for="exampleInputName1">Old Password</label>
                                                    <input type="password" name="opassword" class="form-control"
                                                        id="exampleInputName1"  placeholder="Old Password" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputName1">New Password</label>
                                                    <input type="password" name="npassword" class="form-control"
                                                        id="exampleInputName1"  placeholder="New Password" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputName1">Confirm Password</label>
                                                    <input type="password" name="cpassword" class="form-control"
                                                        id="exampleInputName1"  placeholder="Confirm Password" required>
                                                </div>
                                                <button type="submit"
                                                    class="btn btn-gradient-primary me-2">Submit</button>
                                                <a href="/" class="btn btn-light">Cancel</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('footer')%>